@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body {
    background-color: #FAFAFA;
    font-family: Roboto;
    margin-top: 34px;

    display: flex;
    justify-content: center;
}
.conteudo {
    width: 935px;
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}
.main {
    width: 614px;
}
.bold {
    font-weight: 500;
    color: #000000;
}
a {
    text-decoration: none;
    color: inherit;
}
.topo-mobile {
    display: none;
}
.barra-inferior {
    display: none;
}

/* Configurações do menu topo */
.topo {
    width: 935px;
    max-width: 100%; /* Para a barra de rolagem não esconder ícones quando a janela tem quase 935px de largura */ 
    height: 54px;
    margin: 0px;
    padding: 0px calc((100% - 935px) / 2);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;

    border-bottom: solid 1px #DBDBDB;

    position: fixed;
    top: 0px;
    left: 0px;
}
.topo ion-icon {
    font-size: 22px;
}
.topo div:first-child {
    display: flex;
    align-items: center;
}
.topo div:first-child ion-icon {
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 1px #DBDBDB;
}
.pesquisa {
    height: 28px;
    width: 215px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;

    display: flex;
    justify-content: center;
    align-items: center;

    size: 12px;
    color: #979797;
}
.menu-topo {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

/* Configurações dos stories */
.stories {
    height: 118px;
    width: 614px;
    padding-left: 7px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    
    background-color: #ffffff;

    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
}
.stories a {
    width: 68px;
    margin: 18px 7px;
}
.story {
    display: flex;
    flex-direction: column;
    position: relative;

    text-align: center;
    font-size: 12px;
    color: #262626;
}
.borda {
    width: 68px;
    height: 68px;
    margin-bottom: 8px;
    border-radius: 68px;
}
.avatar {
    width: 58px;
    height: 58px;
    border-radius: 58px;
    position: absolute;
    margin: 5px;
}
.stories ion-icon {
    position: absolute;
    right: 0px;
    align-self: center;

    text-shadow: -3px 3px 5px #6e6e6e;
    font-size: 32px;
    color: #ffffff;
}

/* Configurações dos posts */
.post {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-bottom: 14px;
    margin-bottom: 60px;
    background-color: #ffffff;

    font-size: 14px;

    display: flex;
    flex-direction: column;
}
.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 17px 14px;
    border-bottom: 1px solid #efefef;
}
.post-top div {
    align-items: center;
    display: flex;

    font-weight: 500;
}
.post-top img {
    width: 32px;
    margin-right: 15px;
    border-radius: 32px;
}
.menu-post {
    display: flex;
    justify-content: space-between;
    padding: 10px 7.5px;
}
.menu-post ion-icon {
    font-size: 22px;
    margin: 0px 7.5px;
}
.post-bottom img {
    width: 20px;
    border-radius: 20px;
    margin: 0px 5px 0px 17px;
}
.curtidas {
    display: flex;
    align-self: center;
}
.curtidas span {
    margin-right: 3px;
}
.bookmark:hover {
    color: #8f8f8f;
}

/* Configurações da sidebar */
.sidebar {
    width: 293px;
    height: auto;
    font-weight: 300;
    color: #8E8E8E;
}
.profile {
    height: 102px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.profile div {
    display: flex;
    flex-direction: column;
}
.profile img {
    width: 56px;
    border-radius: 56px;
    margin: 23px 17px 23px 0px;
}
.sugestoes-topo {
    font-size: 12px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}
.sugestao {
    width: 100%;
    display: flex;
    margin: 16px 0px;

    font-size: 12px;
}
.sugestao img {
    width: 32px;
    border-radius: 32px;
}
.sugestao div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 400;

    margin-left: 11px;
}
.sugestao div .bold {
    font-size: 14px;
}
.seguir {
    color: #139EF2;
    font-weight: 500;
    margin: auto 0 auto auto;
}
.sobre {
    font-size: 11px;
    font-weight: 400;
    margin: 32px 0px 18px;
}
.sobre a {
    display: inline-block;
    margin: 2px 0px;
}
.sidebar:last-child {
    font-size: 11px;
    font-weight: 400;
}